.rectangle-frame {
    width: 35%;
    min-height: 30vh;
    background: $rectangle-bg;
    box-shadow: $rectangle-bg 0px 5px 15px;
    @media (max-width: 1024px){
        width: 100%;
        min-height: 30vh;
        background: $rectangle-bg;
        box-shadow: $rectangle-bg 0px 5px 15px;
    }
    @media (max-width: 495px){
        width: 100%;
        min-height: 30vh;
        background: $rectangle-bg;
        box-shadow: $rectangle-bg 0px 5px 15px;
    }
}